.addRedStar:after {
    	content: '*';
    	color: red;
    	font-size: 18px;
		}
#top_banner{
	background-color:rgb(0,0,128);
	color: white;
}
h1{
	margin-top: 0%;
}
.h31{
	font-weight: bold;
}
.text-center{
	margin-top: 0%;
}
.map_div{
	padding:0;
}
.map1{
	margin-top: 0.2%;
}
.btn{
	margin: 0;
}
.w_div{
	padding: 0;
}
.e_div{
	padding-right: 0;
}
.date_div{
	margin-left: 15px;
	margin-right: 15px;
}
.sub_div{
	margin-top: 15px;
}
.bottom_div{
	margin-bottom:0;
}
.jumbotron{
	margin-bottom:0;
	height: 90px;
	padding: 0;
	margin-top: 2%;
	padding-top: 0.8%;
}
.bot_img{
	margin-right: 2%;
	margin-left: 2%;
}
